*.pyc
dist
datasets
pytorch_env
models
ckpt*
build
demo
runs
results
*/__pycache__/*
checkpoints
weights
*.ckpt
*.pth
*.ppm
*.flo
*.egg-info
*.npy
*.npz

.vscode 
.config 
.cache 
.gnupg
.nv 
.vscode-server
.gitconfig
.python_history 
.wget-hsts
.sudo_as_admin_successful 
.bash_history
.pki 
.local 

.ssh/
.devcontainer/devcontainer.json
.dotnet/